<template>
  <input
    v-model="inputValue"
    @keypress.enter="$emit('findFibonacciNumber', inputValue, 0, 1)"
    @input="$emit('handleNumber', inputValue)"
    type="number"
    class="block mx-auto mt-6 w-full border h-[35px] px-3 text-xs font-semibold"
    placeholder="Input"
  />
</template>

<script>
export default {
  data() {
    return {
      inputValue: "",
    };
  },
};
</script>

<style></style>
