<template>
  <div
    class="bg-white flex items-center mx-auto mt-4 w-full border h-[35px] text-xs font-semibold text-left"
  >
    <span
      class="ml-3"
      :class="fibonacciNumber ? 'text-black' : 'text-primaryGray'"
      >{{ correctOutput }}</span
    >
  </div>
</template>

<script>
export default {
  props: {
    fibonacciNumber: Number,
  },
  computed: {
    correctOutput() {
      return this.fibonacciNumber || this.fibonacciNumber === 0
        ? this.fibonacciNumber
        : "Result: XX";
    },
  },
};
</script>

<style></style>
