<template>
  <div class="wrapper">
    <div
      class="content bg-primaryGray max-w-[300px] m-auto my-12 py-16 px-4 text-center"
    >
      <img :src="fibonacciCover" alt="" class="block max-w-[100px] mx-auto" />
      <h1 class="font-bold mt-8">Fibonacci calculator</h1>
      <NumericInputVue
        @handleNumber="handleNumber"
        @findFibonacciNumber="findFibonacciNumber"
      ></NumericInputVue>
      <NumericLabelVue :fibonacciNumber="fibonacciNumber"></NumericLabelVue>
      <button
        @click="findFibonacciNumber(number)"
        class="text-white block bg-primaryGreen mx-auto text-sm font-semibold px-16 py-3 rounded-md mt-32 hover:bg-green-600"
      >
        Calcalte
      </button>
    </div>
  </div>
</template>

<script>
import NumericInputVue from "./components/NumericInput.vue";
import NumericLabelVue from "./components/NumericLabel.vue";
import fibonacciCover from "./assets/fibonacci-cover.png";
export default {
  name: "App",
  components: {
    NumericInputVue,
    NumericLabelVue,
  },
  data() {
    return {
      fibonacciCover,
      number: null,
      fibonacciNumber: null,
    };
  },
  methods: {
    findFibonacciNumber(number, a = 0, b = 1) {
      if (+number <= 0) {
        alert("Invalid number. Please choose a number greater than zero");
        return false;
      }
      if (number) {
        +number === 1
          ? (this.fibonacciNumber = b)
          : this.findFibonacciNumber(number - 1, b, a + b);
      } else {
        return false;
      }
    },
    handleNumber(value) {
      this.number = value;
    },
  },
};
</script>

<style></style>
